/*/*fontcolor in group header*/
/*._7gx9._7gx9 {
    color: grey;
}*/

/*GROUPS bottom black line*/
/*._7k1c {
    border-bottom: 20px solid black !important;
    width: 100% !important;
}

._3qn7 {
    display: flex;
}
*/
