._52z5 {
    position: relative !important;
}


 ._3iyw {
     padding-top: 0px;
 }

._4wqp._4wqp {

   display: -webkit-inline-box;
}

._4wqr {

    display: none;
}



.touch ._4g34 {

    /*display: none !important;*/
}