/*hides messenger page in case of opening external messenger app*/
._36nk  {

    display: none !important;
}

._2_rf {

    display: none !important;
}
._36nm {

           display: none !important;
       }