.touch ._qw9.grouped>.area {


    display: none !important;
}


._129_ {
    /* position: relative; */
    /* z-index: 12; */
    display: none !important;
}

/*.touch .mfss {
    display: none !important;
}*/

