.z1VUo:last-child {
    margin-right: 0;
    display: none;
    margin-top: -50px;
}

.Rt8TI {
    height: 0px !important;
}


.DPEif {
    padding: 16px 28px 16px 16px;
    display: none !important;
}



.coreSpriteOptionsEllipsis {

    display: none !important;
}

.lOPC8.DPEif {
   display: none !important;
}


.MFkQJ {
    display: none !important;
}

.iNy2T {
   display: none !important;
}

.coreSpriteOptionsEllipsis.KjWFV {
    display: none  !important;
}