._3q-XSJ2vokDQrvdG6mR__k {
visibility:hidden}

  h1.Title.m-no-margin::before {
    display: none !important;
   }

   fieldset.AnimatedForm__field.m-checkbox::after {
       display: none !important;

   }
a.CommunityHeader-subscribe-button.m-capitalized {
   display: none !important;
}

.GeoBlockingFooter {
     display: none !important;
}

.xPromoAppStoreFooter {
  display: none !important;
}
span.XPromoPopup__actionTitle {
    display: none!important;
}

.active .XPromoPopup__content {

    visibility: hidden;
    display: none !important;}

    .TopButton {
    visibility: hidden !important;
    display: none !important;
    }

    .active .XPromoPopup__overlay {
        visibility: hidden !important;
        display: none !important;
    }

    .XPromoAdFeed {
       visibility: hidden !important;
       position: absolute;
       display: none !important;
    }
    .XPromoPill {

        visibility: hidden;
        display: none !important;
    }

    .xPromoAppStoreFooter {
      visibility: hidden !important;
      position: absolute;
      display: none !important;
    }

    .adLinkBar.__compactView {
        visibility: hidden;
        position: absolute;
        display: none !important;
    }

    .DualPartInterstitial {
        display: none !important;
    }

    .DualPartInterstitial {
        display: none !important;
    }

    a.TopButton {
        display: none !important;
    }

    .XPromoPill {
        display: none !important;
    }

.EUCookieNotice {

    display: none !important;
}
/*

.XPromoPopup__overlay.m-animated {
   display: none !important;}


.XPromoPopup__content.m-animated {
   display: none !important;}*/


   .XPromoPopup__header {
       display: none;
   }

   a.XPromoPopup__actionButton.m-blue {
       display: none;
   }

 img.XPromoPopup__chrome {
     display: none;
 }



   img.XPromoPopup__chrome {
       display: none;
   }

   .XPromoPopup__actionButton {

    margin-left: 37%;
           margin-right: 37%;
   }

   .XPromoPopup__imageBtnWrapper {

       margin-left: 44%;
       margin-right: 44%;
   }

   a.XPromoInFeed {
       display: none !important;
   }

a#use-app:before  {
    display: none !important;
}
a#use-app:after  {
    display: none !important;
}
a.BottomLink.BottomLink__switchLink.m-secondary-text {
    font-size: xx-large !important;
}

   /*
 button.XPromoPopup__actionButton {
   visibility: hidden;
   }

   button.XPromoPopup__actionButton:after {
    content:'REDDIT';
    visibility: visible;
    display: block;

        margin-bottom: 50px !important;
   }*/
/*
button.XPromoPopup__actionButton {
  position: absolute;
  visibility: hidden;
   display: block;
margin-right:150px;
    text-align:left
}*/
/*
button.XPromoPopup__actionButton:before {
  content: "Reloaded";
  font-size: 30px;
  visibility: visible;
 display: block;
  max-width: 300px;
  margin: auto;

}*/
/*
.App.m-mobile .AnimatedForm__appLink, .App.m-mobile .AnimatedForm__appLink:active, .App.m-mobile .AnimatedForm__appLink:hover, .App.m-mobile .AnimatedForm__appLink:visited, .Container.m-mobile .AnimatedForm__appLink, .Container.m-mobile .AnimatedForm__appLink:active, .Container.m-mobile .AnimatedForm__appLink:hover, .Container.m-mobile .AnimatedForm__appLink:visited {
    display: none !important;
}*/



.XPromoPill.m-slideIn {
    display: none;
}

   a.XPromoPopup__actionButton.m-blue {
    display: none !important;
   }

a.AppStoreButton.SignupWall__AppBtn {
    display: none !important;
}
   a.AppStoreButton.large.SignupWall__AppBtn {
       display: none !important;
   }



   /*change text in promo messages*/
   h3.xPromoChat__title {
     text-indent:-9999px;
   }
  h3.xPromoChat__title:before {
     text-indent:0;
     content:'You have to login';
     float:left;
   }

   p.xPromoChat__description {
       display: none;
   }

   a.xPromoChat__button {
       display: none;
   }


   h1.Title.m-no-margin:before {
    display: none !important;
   }

   fieldset.AnimatedForm__field.m-checkbox:before {
       display: none !important;

   }