.r-1xfps3t {
        display: none !important;

}

.r-1upvrn0 {
display: none !important;
}

.r-1w6e6rj {
display: none !important;
}

.css-1dbjc4n.r-gvpnoh.r-1upvrn0.r-1bq9uc5.r-13qz1uu {
    display: none !important;
}

.toast.client_prompt {
    display: none !important;
}

